<div class=" main-container">
    <div class="container w-100 d-flex align-items-center flex-column">
      <div *ngIf="isLoading" style="text-align: center;">
        <app-loading-spinner></app-loading-spinner>
      </div>
      <div *ngIf="!isLoading">
      <div class="col-xs-12 col-sm-11 col-md-5 col-sm-offset-1 col-md-offset-2 mb-4 w-100 login-form">
        <div class="alert alert-danger" *ngIf="errorMsg">
          {{errorMsg}}
        </div>
        <div class="login-heading text-center">
          <h3>Welcome Back</h3>
          <h6>Enter your credentials to access your account</h6>
        </div>
        <form class="pb-4" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
         
          <div class="form-group mb-3">
            <label for="email">Email </label>
            <input
              type="email"
              id="email"
              formControlName="email"
              placeholder="Enter your email"
              class="form-control"/>
            <div
              class="alert alert-danger"
              *ngIf="signupForm.get('email').invalid && signupForm.get('email').touched">
              Please enter a valid email!</div>
          </div>
         
            <div class="form-group mb-3">
              <label for="number">Password</label>
              <input
                type="password"
                id="password"
                formControlName="password"
                placeholder="Enter your password"
                class="form-control"/>
            </div>
           
          <div
            class="alert alert-danger"
            *ngIf="signupForm.invalid && signupForm.touched">
            Please enter all data correctly!</div>
          <button class="btn" type="submit" [disabled]="submitted()">
            Sign In
          </button>
        </form>
      </div>
      <div class="d-flex alternate-option justify-content-center">
        <p class="pe-2">New to Expense Tracker?</p>
        <a class="text-decoration-none" routerLink="/register">Sign Up</a>
      </div>
    </div>
    </div>
  
  </div>
  