
<nav class="navbar navbar-expand-lg d-flex justify-content-center navbar-light p-0">
    <div class="container px-0 navh">
      <a class="navbar-brand p-0" href="/"><img class="w-100" src="../../assets/logo.png" alt=""></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link px-0" href="/">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-0" href="/all-expenses">All Expense</a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-0" href="/add-expense">Add Expense</a>
          </li><li class="nav-item">
          <a class="nav-link" href="/my-profile">My Profile</a>
        </li>
      </ul>
      <form class="d-flex align-items-center">
        <a class="nav-link nav-item" href="#">Login</a>
        <button type="submit" class="d-flex justify-content-center align-items-center"><img src="../../assets/signUp.svg" alt="">Sign Up</button>
      </form>
    </div>
  </div>
</nav>

