.container{
    padding: 0;
}
.expenses{
    width: 48%;
    border: 4px dashed;
    border-radius: 20px;
    padding: 1em;
    background-color: antiquewhite;
    text-align: center;
}
.bills{
    width: 48%;
    border: 4px dashed;
    border-radius: 20px;
    text-align: center;
    padding: 1em;
    background-color: aquamarine;
}