.container{
    padding: 0;
}
.expenses{
    width: 48%;
    border: 4px dashed;
    border-radius: 20px;
    padding: 1em;
    background-color: antiquewhite;
    text-align: center;
}
.bills{
    width: 48%;
    border: 4px dashed;
    border-radius: 20px;
    text-align: center;
    padding: 1em;
    background-color: aquamarine;
}

@media screen and (max-width: 767px) {
    .recent-table{
        flex-direction: column;
    }
    .card-data-component{
        justify-content: center !important;
    }
    .recent-table .expenses, .recent-table .bills{
        width: 100%;
        margin: 2em 0;
    }
  }

