<div class="container m-auto mt-3">
  <app-expense-chart></app-expense-chart>
</div>
<div
  class="container d-flex justify-content-between m-auto flex-wrap card-data-component"
>
  <app-card-data></app-card-data>
  <app-card-data></app-card-data>
  <app-card-data></app-card-data>
  <app-card-data></app-card-data>
  <div class="d-flex justify-content-between w-100">
    <app-expense-table [recentTransaction]="true"></app-expense-table>

    <app-bill-table [recentBill]="true"></app-bill-table>
  </div>
</div>
