<div class="main-contaniner">
  <div class="container w-100 d-flex align-items-center flex-column">
    <div *ngIf="isLoading" style="text-align: center;">
      <app-loading-spinner></app-loading-spinner>
    </div>
    <div class="col-xs-12 col-sm-11 col-md-5 col-sm-offset-1 col-md-offset-2 mb-4 login-form" *ngIf="!isLoading">
      <div class="alert alert-danger" *ngIf="errorMsg">
        {{errorMsg}}
      </div>
      <div class="login-heading text-center">
        <h3>Register</h3>
        <h6>Create your account now</h6>
      </div>
      <form class="pb-4" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <div class="form-group mb-3">
          <label for="firstName">First Name</label>
          <input
            type="text"
            id="firstName"
            formControlName="firstName"
            class="form-control"
          />
        </div>
        <div class="form-group mb-3">
          <label for="lastName">Last Name</label>
          <input
            type="text"
            id="lastName"
            formControlName="lastName"
            class="form-control"
          />
        </div>
        <div class="form-group mb-3">
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            formControlName="email"
            class="form-control"
          />
          <div
            class="alert alert-danger"
            *ngIf="
              signupForm.get('email').invalid && signupForm.get('email').touched
            "
          >
            Please enter a valid email!
          </div>
        </div>
        <div class="mb-3">
          <label for="currency" class="form-label">Currency</label>
          <select id="currency" class="form-select" formControlName="currency">
            <option value="rupee">INR | ₹</option>
            <option value="dollar">USD | $</option>
            <option value="euro">EUR | €</option>
            <option value="dinar">AED | د.إ</option>
            <option value="pound">GBP | £</option>
          </select>
        </div>
        <div class="form-group">
          <label for="pasword">Password</label>
          <input
            type="password"
            id="password"
            formControlName="password"
            class="form-control"
          />
        </div>
        <div id="passwordHelpBlock" class="form-text">
          * Your password must be 8-20 characters long. 
        </div>
        <div id="passwordHelpBlock" class="form-text">
          * Password must have at least 1 upper-case, 1 lower-case and a symbol.
        </div>
        <div id="passwordHelpBlock" class="form-text mb-3">
          * Password must not contain spaces or emojis.
        </div>
        <div
          class="alert alert-danger"
          *ngIf="signupForm.invalid && signupForm.touched"
        >
          Please enter all data correctly!
        </div>
        <button class="btn btn-success" type="submit" [disabled]="submitted()">
          Submit
        </button>
      </form>
    </div>
    <div class="d-flex alternate-option" *ngIf="!isLoading">
      <p class="pe-2">Already a User?</p>
      <a class="text-decoration-none" routerLink="/login">Login</a>
    </div>
  </div>
</div>
