<div class="container mt-5">
  <div class="row">
    <div *ngIf="isLoading" style="text-align: center;">
      <app-loading-spinner></app-loading-spinner>
    </div>
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <div class="alert alert-danger" *ngIf="errorMsg">
        {{errorMsg}}
      </div>
      <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" *ngIf="!isLoading">
        <div class="form-group mb-3">
          <label for="firstName">First Name</label>
          <input
            type="text"
            id="firstName"
            formControlName="firstName"
            class="form-control"
          />
        </div>
        <div class="form-group mb-3">
          <label for="lastName">Last Name</label>
          <input
            type="text"
            id="lastName"
            formControlName="lastName"
            class="form-control"
          />
        </div>
        <div class="form-group mb-3">
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            formControlName="email"
            class="form-control"
          />
          <div
            class="alert alert-danger"
            *ngIf="
              signupForm.get('email').invalid && signupForm.get('email').touched
            "
          >
            Please enter a valid email!
          </div>
        </div>
        <div class="mb-3">
          <label for="currency" class="form-label">Currency</label>
          <select id="currency" class="form-select" formControlName="currency">
            <option value="rupee">INR | ₹</option>
            <option value="dollar">USD | $</option>
            <option value="euro">EUR | €</option>
            <option value="dinar">AED | د.إ</option>
            <option value="pound">GBP | £</option>
          </select>
        </div>
        <div class="form-group mb-3">
          <label for="income">Monthly Income</label>
          <input
            type="text"
            id="income"
            formControlName="income"
            class="form-control"
          />
        </div>
        <div class="form-group mb-3">
          <label for="pasword">Password</label>
          <input
            type="text"
            id="password"
            formControlName="password"
            class="form-control"
          />
        </div>
        <div
          class="alert alert-danger"
          *ngIf="signupForm.invalid && signupForm.touched"
        >
          Please enter all data correctly!
        </div>
        <button class="btn btn-success" type="submit" [disabled]="submitted()">
          Submit
        </button>
        <p>Arleady a user <a routerLink="/login">Login</a></p>
      </form>
    </div>
  </div>
</div>
