<div class="container mt-3">
  <h3 *ngIf="recentTransaction">Recent Transactions</h3>
  <div class="add-expense-modal" *ngIf="!recentTransaction">
    <app-add-expense (myOutput) ="getUpdatedData($event)"></app-add-expense>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Category</th>
        <th scope="col">Payment Mode</th>
        <th scope="col">Description</th>
        <th scope="col">Expense Type</th>
        <th scope="col">Amount</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of (recentTransaction? data.slice(-5).reverse() : data.reverse()) | paginate: { itemsPerPage: 10, currentPage: p }" >
        <td>
          {{ row.date }}
        </td>
        <td>
          {{ row.category }}
        </td>
        <td>
          {{ row.paymentMode }}
        </td>
        <td>
          {{ row.description }}
        </td>
        <td>
          {{ row.expenseType }}
        </td>
        <td>
          {{ row.amount }}
        </td>
        <td *ngIf="!recentTransaction">
          <button class="editButton" (click)="onDelete(row)"><i class="bi bi-trash3-fill"></i></button>
        </td>
      </tr>
    </tbody>
    <pagination-controls *ngIf="!recentTransaction" (pageChange)="p = $event"></pagination-controls>
  </table>
</div>
