<div class="container mt-3">
  <div class="add-expense-modal">
    <app-add-expense (myOutput) ="getUpdatedData($event)"></app-add-expense>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Category</th>
        <th scope="col">Payment Mode</th>
        <th scope="col">Description</th>
        <th scope="col">Expense Type</th>
        <th scope="col">Amount</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of data">
        <td>
          {{ row.date }}
        </td>
        <td>
          {{ row.category }}
        </td>
        <td>
          {{ row.paymentMode }}
        </td>
        <td>
          {{ row.description }}
        </td>
        <td>
          {{ row.expenseType }}
        </td>
        <td>
          {{ row.amount }}
        </td>
      </tr>
    </tbody>
  </table>
  <nav>
    <ul class="pagination">
      <li class="page-item" [ngClass]="currentPage == 1 ? 'disabled' : ''">
        <a class="page-link" tabindex="-1" (click)="onPrevious()">Previous</a>
      </li>
      <li class="page-item active">
        <a class="page-link">{{ currentPage }}</a>
      </li>
      <li class="page-item" [ngClass]="currentPage == 10 ? 'disabled' : ''">
        <a class="page-link" (click)="onNext()">Next</a>
      </li>
    </ul>
  </nav>
</div>
