<div class="container mt-3">
  <button class="btn btn-primary" (click)="onPdfDownloadModal(content)">Download PDF</button>
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Download Transactions</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <div class="alert alert-warning" role="alert"  [hidden]="isFormValid">
        Please select your preference!
      </div>
      <form #pdfForm="ngForm" (submit)="submitPdfForm(pdfForm)" novalidate>
        <div class="mb-3">
          <label class="mb-2">Select your preference:</label>
          <div class="input-group d-block">
            <div>
              <input type="radio" id="monthly" name="preference" value="Monthly" class="radio-button"  ngModel required>
              <label for="monthly" class="mx-1">Monthly</label>
            </div>
            <div>
              <input type="radio" name="preference" id="yearly" value="Yearly" class="radio-button" ngModel required>
              <label for="yearly" class="mx-1">Yearly</label>

            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-outline-dark" >Save</button>
        </div>
      </form>
    </div>
  </ng-template>
  <hr />
  
  <table class="table table-hover" #table>
    <thead>
      <tr>
        <th scope="col">userID</th>
        <th scope="col">ID</th>
        <th scope="col">Title</th>
        <th scope="col">Body</th>
      </tr>
    </thead>
    <tbody>
     <tr *ngFor="let row of showData">
        <td>
           {{row.userId}}
          </td>
          <td>
            {{row.id}}
           </td>
           <td>
            {{row.title}}
           </td> 
           <td>
            {{row.body}}
           </td> 
     </tr>
    </tbody>
  </table>
  <nav>
    <ul class="pagination">
      <li class="page-item" [ngClass]="currentPage==1?'disabled':''">
        <a class="page-link" tabindex="-1" (click)="onPrevious()">Previous</a>
      </li>
      <li class="page-item active">
        <a class="page-link">{{currentPage}}</a>
      </li>
      <li class="page-item" [ngClass]="currentPage==10?'disabled':''">
        <a class="page-link"  (click)="onNext()">Next</a>
      </li>
    </ul>
  </nav>
</div>
